/**
 * Site header
 */
 .header {
    width: 30vw;
    height: 100vh;
    padding: 60px 20px;
    text-align: center;
    background: #dae1e2;
    float: left;
    position: relative;
    @include bp($mobile) {
        width: 100%;
        height: auto;
        padding: 20px;
    }
 }

 .avatar {
     width: 12vw;
     height: 12vw;
     border: 1px #f7f3f3 solid;
     background: white;
     border-radius: 100%;
     margin: 0 0 20px;
     @include bp($mobile) {
         width: 100px;
         height: 100px;
     }
 }

 .social__icons {
     list-style: none;
     text-align: center;
     margin: 0;
     width: 100%;
     li {
         font-size: 40px;
         display: inline-block;
         margin: 0 10px;
         .icon {
             svg {
                width: 20px;
                height: 20px;
             }
         }
     }
 }
